<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css"> <!-- подключение стилей к приложению -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!-- Используется контроллер TVListCtrl-->
<body ng-controller="TVListCtrl">
<!--<p class="lead">Аккаунт: {{username}}</p>-->

<!--<p>{{test}}</p>-->

<div class="container">
    <div class="row">
        <div class="col-md-2">
            Поиск: <input ng-model="query" class="thumbnail"> <!--Поиск объекта по введеному слову-->
            Сортировать:
            <select ng-model="orderProp" class="thumbnail"> <!-- Сортировка списка-->
                <option value="name">По алфавиту</option>
                <option value="age">По обновлению</option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <div class="list-group list-group-horizontal">
                <a href="#/tableView" class="list-group-item"><i class="fa fa-table" aria-hidden="true"></i></a>
                <a href="#/catalog" class="list-group-item active"><i class="fa fa-th-list" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Отображение списка всего каталога товаров-->
        <div class="col-md-10">
            <ul class="tvs">
                <li ng-repeat="tv in tvs | filter:query | orderBy:orderProp" class="thumbnail">
                    <!-- Отображение фото -->
                    <a href="#/detail/{{tv.id}}" class="trumb">
                        <img ng-src="{{tv.imageUrl}}" alt="{{tv.name}}" height="50px" width="150px"/></a>
                    <!-- Отображение названия -->
                    <a href="#/detail/{{tv.id}}">{{tv.name}}</a>
                    <!-- Отображение краткого описания-->
                    <p>{{tv.description}}</p>
                    <p>Гарантия: {{tv.guarantee}}</p>
                    <p>Страна: {{tv.country}}</p>
                    <p>Диагональ: {{tv.screenDiagonal}}</p>
                    <p>Разрешение экрана: {{tv.screenResolution}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

