<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css"> <!-- подключение стилей к приложению -->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> &lt;!&ndash; подключение библиотеки Bootstrap&ndash;&gt;-->
</head>
<body ng-controller="TVListCtrl">
<!--<p class="lead">Аккаунт: {{username}}</p>-->

<!--<p>{{test}}</p>-->

<div class="container">
    <div class="row">
        <div class="col-md-2">
            Поиск: <input ng-model="query" class="thumbnail"> <!--Поиск объекта по введеному слову-->
            Сортировать:
            <select ng-model="orderProp" class="thumbnail"> <!-- Сортировка списка-->
                <option value="name">По алфавиту</option>
                <option value="age">По обновлению</option>
            </select>
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#/addTv">Добавить товар</a>
            </nav>
        </div>

        <div class="col-md-10">
            <ul class="tvs">
                <li ng-repeat="tv in tvs | filter:query | orderBy:orderProp" class="thumbnail">
                    <a href="#/detail/{{tv.id}}" class="trumb">
                        <img ng-src="{{tv.imageUrl}}" alt="{{tv.name}}" height="50px" width="150px"/></a>
                    <a href="#/detail/{{tv.id}}">{{tv.name}}</a>
                    <p>{{tv.description}}</p>
                </li>
            </ul>
        </div>

        <!--<div class="col-md-10">-->
        <!--<ul class="tvs">-->
        <!--<li ng-repeat="tv in test" class="thumbnail">-->
        <!--<a href="#/detail/{{tv.id}}" class="trumb">-->
        <!--<img ng-src="{{tv.imageUrl}}" alt="{{tv.name}}" height="50px" width="150px"/></a>-->
        <!--<a href="#/detail/{{tv.id}}">{{tv.model}}</a>-->
        <!--<p>{{tv.description}}</p>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->

    </div>
</div>
</body>
</html>

