<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css"> <!-- подключение стилей к приложению -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!-- Используется контроллер TVListCtrl-->
<body ng-controller="TVListCtrl">
<!--<p class="lead">Аккаунт: {{username}}</p>-->

<!--<p>{{test}}</p>-->

<div class="container">
    <div class="row">
        <a href="#/home" style="float: right">
            <span class="glyphicon glyphicon-log-out"></span>Выйти</br>
            <p class="glyphicon glyphicon-user">{{username}}</p>
        </a>
        <div class="col-md-2">
            Поиск: <input ng-model="query" class="thumbnail"> <!--Поиск объекта по введеному слову-->
            Сортировать:
            <select ng-model="orderProp" class="thumbnail"> <!-- Сортировка списка-->
                <option value="name">По алфавиту</option>
                <option value="age">По обновлению</option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <div class="list-group list-group-horizontal">
                <a href="#/tableView" class="list-group-item active"><i class="glyphicon glyphicon-th-large" aria-hidden="true"></i></a>
                <a href="#/catalog" class="list-group-item"><i class="fa fa-th-list" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div>
                    <nav>
                        <li ng-repeat="tv in tvs | filter:query | orderBy:orderProp">
                            <a href="#/detail/{{tv.id}}" class="thumbnail" style="width:350px;">
                                <p>{{tv.name}}</p>
                                <img ng-src="{{tv.imageUrl}}" alt="{{tv.name}}">
                            </a>
                        </li>
                        <nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

